In [1]:
import numpy as np
import pandas as pd
import re

In [2]:
file_path = 'resultados_secao_absolutos/SEBASTIAO_BOCALOM_RODRIGUES.csv'
data = pd.read_csv(file_path, index_col=0)

In [3]:
data.head(2)

,candidato,municipio,local,zona,secao,turno,votos_recebidos,ds_grau_escolaridade_ensino_fundamental_completo,ds_grau_escolaridade_ensino_médio_incompleto,ds_grau_escolaridade_analfabeto,...,ds_faixa_etaria_35_a_39_anos,ds_faixa_etaria_95_a_99_anos,ds_faixa_etaria_100_anos_ou_mais,ds_faixa_etaria_60_a_64_anos,ds_faixa_etaria_30_a_34_anos,ds_faixa_etaria_inválida,ds_genero_feminino,ds_genero_masculino,eleitores_totais,percentual_votos
0,SEBASTIAO BOCALOM RODRIGUES,1392,1953,9,314,1,146,18,83,14,...,24,0,0,16,37,0,181,156,337,0.433234
1,SEBASTIAO BOCALOM RODRIGUES,1392,1465,1,828,1,114,1,28,2,...,7,0,0,3,8,0,68,58,126,0.904762

In [4]:
remove_cols = [col for col in data.columns if re.search('não_informado', col)]
data =data.drop(remove_cols, axis=1)

In [5]:
pesos_escolaridade = {
    'ds_grau_escolaridade_analfabeto': 0,
    'ds_grau_escolaridade_lê_e_escreve': 1,
    'ds_grau_escolaridade_ensino_fundamental_incompleto': 2,
    'ds_grau_escolaridade_ensino_fundamental_completo': 3,
    'ds_grau_escolaridade_ensino_médio_incompleto': 4,
    'ds_grau_escolaridade_ensino_médio_completo': 5,
    'ds_grau_escolaridade_superior_incompleto': 6,
    'ds_grau_escolaridade_superior_completo': 7
}

# Calculando o score usando np.average com os pesos
data["escolaridade_score"] = data.apply(
    lambda row: np.average(
        [row[col] for col in pesos_escolaridade.keys()],  # Valores das colunas
        weights=[pesos_escolaridade[col] for col in pesos_escolaridade.keys()]  # Pesos associados às colunas
    ),
    axis=1
)

In [6]:
data = data.drop(pesos_escolaridade.keys(), axis=1)
data.head(1)

,candidato,municipio,local,zona,secao,turno,votos_recebidos,ds_raca_cor_preta,ds_raca_cor_parda,ds_raca_cor_branca,...,ds_faixa_etaria_95_a_99_anos,ds_faixa_etaria_100_anos_ou_mais,ds_faixa_etaria_60_a_64_anos,ds_faixa_etaria_30_a_34_anos,ds_faixa_etaria_inválida,ds_genero_feminino,ds_genero_masculino,eleitores_totais,percentual_votos,escolaridade_score
0,SEBASTIAO BOCALOM RODRIGUES,1392,1953,9,314,1,146,5,28,7,...,0,0,16,37,0,181,156,337,0.433234,48.357143

In [7]:
data_filtered = data[['percentual_votos', 'escolaridade_score']]
data_filtered

     percentual_votos  escolaridade_score
0            0.433234           48.357143
1            0.904762           22.250000
2            0.861538           23.428571
3            0.316109           38.571429
4            0.374214           42.464286
..                ...                 ...
869          0.359736           36.357143
870          0.417957           41.250000
871          0.650538           28.750000
872          0.933333           19.321429
873          0.394040           40.500000

[874 rows x 2 columns]

In [8]:
data_filtered.corr()

                    percentual_votos  escolaridade_score
percentual_votos            1.000000           -0.337007
escolaridade_score         -0.337007            1.000000