In [4]:
import pandas as pd

In [5]:
data = pd.read_csv('resultados_secao_absolutos/EDUARDO_DA_COSTA_PAES.csv', index_col=0)

In [6]:
data.loc[data['votos_recebidos'] > data['eleitores_totais']]

,candidato,municipio,local,zona,secao,turno,votos_recebidos,ds_grau_escolaridade_ensino_médio_incompleto,ds_grau_escolaridade_superior_completo,ds_grau_escolaridade_ensino_fundamental_incompleto,...,ds_faixa_etaria_90_a_94_anos,ds_faixa_etaria_100_anos_ou_mais,ds_faixa_etaria_95_a_99_anos,ds_faixa_etaria_17_anos,ds_faixa_etaria_16_anos,ds_faixa_etaria_inválida,ds_genero_feminino,ds_genero_masculino,ds_genero_não_informado,eleitores_totais
2038,EDUARDO DA COSTA PAES,60011,1325,204,111,1,141,20,9,26,...,7,10,11,0,0,0,63,70,1,134
3290,EDUARDO DA COSTA PAES,60011,1325,204,110,1,139,16,12,35,...,5,13,14,0,0,0,45,84,0,129
6208,EDUARDO DA COSTA PAES,60011,1619,204,314,1,118,14,14,20,...,2,7,9,0,0,0,33,76,0,109
7024,EDUARDO DA COSTA PAES,60011,1619,204,313,1,122,15,10,24,...,2,5,4,0,0,0,48,57,0,105
7569,EDUARDO DA COSTA PAES,60011,1325,204,115,1,151,10,21,25,...,3,10,8,0,0,0,39,82,0,121
8422,EDUARDO DA COSTA PAES,60011,1368,233,284,1,220,10,2,6,...,0,0,0,0,1,0,47,17,0,64
9308,EDUARDO DA COSTA PAES,60011,1619,204,312,1,135,16,15,16,...,5,3,10,0,1,0,34,71,0,105
10120,EDUARDO DA COSTA PAES,60011,1210,204,58,1,158,27,10,42,...,6,2,5,0,0,0,76,77,0,153
10542,EDUARDO DA COSTA PAES,60011,1325,204,116,1,142,20,12,24,...,2,7,6,0,0,0,51,70,0,121
11095,EDUARDO DA COSTA PAES,60011,1325,204,118,1,138,13,9,24,...,3,7,9,0,0,0,50,70,1,121

In [7]:
import tse

In [8]:
database = 'databases/eleicoes_2024.sql'
analise = tse.TseAnalysis(
    database={
        'path': database,
        'alias': 'geral'
    })

In [9]:
analise.attach_database([])

Bancos carregados:
0) main
-path: d:\projects\tse-data\databases\eleicoes_2024.sql
--tables:
-- locais
-----
2) geral
-path: d:\projects\tse-data\databases\eleicoes_2024.sql
--tables:
-- locais
-----

In [10]:
query = """
    SELECT
        NR_LOCAL_VOTACAO AS local,
        NR_ZONA AS zona,
        NR_SECAO AS secao,
        NR_LATITUDE AS latitude,
        NR_LONGITUDE AS longitude,
        QT_ELEITOR_SECAO as eleitores
    FROM
        geral.locais
    WHERE
        CD_MUNICIPIO = 60011
"""

In [11]:
locais = pd.read_sql(query, analise.conn)

In [12]:
locais.head()

   local  zona  secao   latitude  longitude  eleitores
0   1252   185    136 -22.890469 -43.355049        406
1   1341    14    164 -22.887664 -43.302503        446
2   1120   245    130 -22.891374 -43.596135        392
3   1074   185     37 -22.896886 -43.352532        459
4   1023   219     10 -22.844798 -43.339370        390

In [13]:
data_locais = pd.merge(
    data,
    locais,
    how='inner',
    on=['local', 'zona', 'secao']
)
data_locais.head()

,candidato,municipio,local,zona,secao,turno,votos_recebidos,ds_grau_escolaridade_ensino_médio_incompleto,ds_grau_escolaridade_superior_completo,ds_grau_escolaridade_ensino_fundamental_incompleto,...,ds_faixa_etaria_17_anos,ds_faixa_etaria_16_anos,ds_faixa_etaria_inválida,ds_genero_feminino,ds_genero_masculino,ds_genero_não_informado,eleitores_totais,latitude,longitude,eleitores
0,EDUARDO DA COSTA PAES,60011,1317,245,254,1,170,90,38,60,...,0,1,0,263,194,2,459,-22.890643,-43.563465,459
1,EDUARDO DA COSTA PAES,60011,1341,123,262,1,155,70,18,100,...,0,0,0,239,186,0,425,-22.867606,-43.430114,425
2,EDUARDO DA COSTA PAES,60011,1244,245,192,1,179,153,27,70,...,0,0,0,271,220,0,491,-22.877551,-43.564265,491
3,EDUARDO DA COSTA PAES,60011,1694,25,575,1,161,105,12,105,...,0,1,0,226,185,1,412,-22.975289,-43.694287,412
4,EDUARDO DA COSTA PAES,60011,1236,161,173,1,160,137,2,199,...,0,0,0,267,205,0,472,-22.861977,-43.248238,472

In [14]:
inconsis = data_locais.loc[data['votos_recebidos'] > data['eleitores_totais']]

In [15]:
inconsis

,candidato,municipio,local,zona,secao,turno,votos_recebidos,ds_grau_escolaridade_ensino_médio_incompleto,ds_grau_escolaridade_superior_completo,ds_grau_escolaridade_ensino_fundamental_incompleto,...,ds_faixa_etaria_17_anos,ds_faixa_etaria_16_anos,ds_faixa_etaria_inválida,ds_genero_feminino,ds_genero_masculino,ds_genero_não_informado,eleitores_totais,latitude,longitude,eleitores
2038,EDUARDO DA COSTA PAES,60011,1325,204,111,1,141,20,9,26,...,0,0,0,63,70,1,134,-22.907729,-43.173426,134
3290,EDUARDO DA COSTA PAES,60011,1325,204,110,1,139,16,12,35,...,0,0,0,45,84,0,129,-22.907729,-43.173426,129
6208,EDUARDO DA COSTA PAES,60011,1619,204,314,1,118,14,14,20,...,0,0,0,33,76,0,109,-22.901771,-43.184479,109
7024,EDUARDO DA COSTA PAES,60011,1619,204,313,1,122,15,10,24,...,0,0,0,48,57,0,105,-22.901771,-43.184479,105
7569,EDUARDO DA COSTA PAES,60011,1325,204,115,1,151,10,21,25,...,0,0,0,39,82,0,121,-22.907729,-43.173426,121
8422,EDUARDO DA COSTA PAES,60011,1368,233,284,1,220,10,2,6,...,0,1,0,47,17,0,64,-22.894409,-43.433017,64
9308,EDUARDO DA COSTA PAES,60011,1619,204,312,1,135,16,15,16,...,0,1,0,34,71,0,105,-22.901771,-43.184479,105
10120,EDUARDO DA COSTA PAES,60011,1210,204,58,1,158,27,10,42,...,0,0,0,76,77,0,153,-22.906892,-43.195023,153
10542,EDUARDO DA COSTA PAES,60011,1325,204,116,1,142,20,12,24,...,0,0,0,51,70,0,121,-22.907729,-43.173426,121
11095,EDUARDO DA COSTA PAES,60011,1325,204,118,1,138,13,9,24,...,0,0,0,50,70,1,121,-22.907729,-43.173426,121

In [16]:
inconsis.groupby('local').agg(
    {
        'votos_recebidos': 'sum',
        'eleitores' : 'sum'
    }
)

       votos_recebidos  eleitores
local
1210               158        153
1325               711        626
1368               220         64
1619               375        319

In [17]:
import folium

In [18]:
map = folium.Map(location=[-22.908333, -43.196388])

In [19]:
for i, row in inconsis.iterrows():
    folium.Marker(location=[row['latitude'], row['longitude']]).add_to(map)

In [20]:
map